<div class="search-bar-container container-fluid d-flex flex-row justify-content-center align-items-center">
  <mat-select>
    <mat-option value="title">Title</mat-option>
    <mat-option value="director">Director</mat-option>
  </mat-select>
  <input matInput />
  <button mat-raised-button color="primary">Search</button>
</div>

<div class="films-container">
  <div class="row no-gutters justify-content-center">
    <div class="col-10 year-tabs">
      <mat-tab-group>
        <mat-tab label="2020"> </mat-tab>
        <mat-tab label="2019"> </mat-tab>
        <mat-tab label="2018"> </mat-tab>
        <mat-tab label="2017"> </mat-tab>
        <mat-tab label="2016"> </mat-tab>
        <mat-tab label="2015"> </mat-tab>
        <mat-tab label="2014"> </mat-tab>
        <mat-tab label="2013"> </mat-tab>
        <mat-tab label="2012"> </mat-tab>
        <mat-tab label="2011"> </mat-tab>
        <mat-tab label="2010"> </mat-tab>
        <mat-tab label="2009"> </mat-tab>
        <mat-tab label="2008"> </mat-tab>
        <mat-tab label="2007"> </mat-tab>
        <mat-tab label="2006"> </mat-tab>
        <mat-tab label="2005"> </mat-tab>
        <mat-tab label="2004"> </mat-tab>
        <mat-tab label="2003"> </mat-tab>
        <mat-tab label="2002"> </mat-tab>
        <mat-tab label="2001"> </mat-tab>
        <mat-tab label="2000"> </mat-tab>
        <mat-tab label="1999"> </mat-tab>
        <mat-tab label="1998"> </mat-tab>
        <mat-tab label="1997"> </mat-tab>
        <mat-tab label="1996"> </mat-tab>
        <mat-tab label="1995"> </mat-tab>
        <mat-tab label="1994"> </mat-tab>
        <mat-tab label="1993"> </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid grid-sm" [routerLink]="['/film', tempId]">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
    <div class="grid grid-sm">
      <img class="movie-thumbnail img-fluid" src="../../../assets/img/poster.jpg" />
      <div class="movie-title-container">
        <p class="h4 title">Movie Title</p>
        <p class="lead text-muted director-year">Director | Year</p>
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="100" [pageSize]="20" [hidePageSize]="true">
</mat-paginator>