@import '~src/variables';

// search bar input and button
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  .mat-form-field {
    margin-right: 0.5rem;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    opacity: 0;
    background-color: inherit;
  }
  ::ng-deep .mat-form-field-invalid .mat-input-element {
    caret-color: inherit;
  }
}

// browse by year tabs
.mat-tab-group {
  margin: 20px 0;
  ::ng-deep.mat-tab-labels {
    border-top: 1px solid rgba(0,0,0,0.12);
  }
  ::ng-deep.mat-tab-label,
  ::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 0 8px !important;
    margin: 0 4px !important;
  }
}

// to keep paginator at the bottom
.paginator {
  position: absolute;
  width: 100%;
  bottom: $footer-height;
  * {
    font-size: 1.2rem;
  }
}
