@import '~src/variables';

// search bar input and button
.search-bar-container {
  margin-top: 50px;

  mat-select {
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 4px 3px 12px;
  }
  input {
    border: none;
    width: 240px;
    margin: 0 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px 10px;
    font-family: $lato;
    &:focus {
      border-bottom-color: rgba(0, 0, 0, 0.6);
    }
    &.invalid {
      border-bottom-color: firebrick;
    }
  }
  button {
    background-color: forestgreen;
    padding: 0;
    width: 120px;
  }
}

// browse by year tabs
.mat-tab-group {
  margin: 20px 0;
  ::ng-deep.mat-tab-labels {
    border-top: 1px solid rgba(0,0,0,0.12);
  }
  ::ng-deep.mat-tab-label,
  ::ng-deep.mat-tab-label-active {
    min-width: 0 !important;
    padding: 0 8px !important;
    margin: 0 4px !important;
  }
}

// to keep paginator at the bottom
.paginator {
  position: absolute;
  width: 100%;
  bottom: $footer-height;
  * {
    font-size: 1.2rem;
  }
}
