<form [formGroup]="searchForm" (submit)="onSearch()" class="search-bar-container">
  <mat-form-field appearance="fill">
    <mat-label>Search By</mat-label>
    <mat-select formControlName="searchBy">
      <mat-option value="title">Title</mat-option>
      <mat-option value="director">Director</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <input matInput formControlName="query"/>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!searchForm.valid">Search</button>
</form>

<div class="films-container">
  <div class="row no-gutters justify-content-center">
    <div class="col-10" *ngIf="isByYear">
      <mat-tab-group (selectedTabChange)="onYearSelect($event)" class="mat-tab-group" [selectedIndex]="selectedTabIndex" mat-stretch-tabs>
        <mat-tab *ngFor="let year of this.years"
                  label="{{year}}">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <button mat-stroked-button class="mx-auto my-3 d-block"
          *ngIf="!isByYear" (click)="onSearchByYearClick()">
    Search By Year
  </button>


  <div class="alert alert-warning mx-5 h4" *ngIf="films?.length == 0">
    <i class="fa fa-meh-o" aria-hidden="true"></i> No film found.
  </div>

  <mat-grid-list *ngIf="films?.length > 0" [cols]="cols" gutterSize="0" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let film of films" [colspan]="1" [rowspan]="1">
      <film-thumbnail
        [id]="film._id"
        [src]="film.poster_url"
        loader="assets/spinner.gif"
        [title]="film.title"
        [director]="film.director[0]"
        [year]="film.release_date | date:'yyyy'"
        [queryParams]="queryParams"
      ></film-thumbnail>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="paginator">
  <mat-paginator
    [length]="pageEvent?.length"
    [pageSize]="pageEvent?.pageSize"
    [hidePageSize]="true"
    [pageIndex]="pageEvent?.pageIndex"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
