<div class="row justify-content-center mt-4 no-gutters">
  <div class="col-12 col-md-6">
    <h1 class="heading text-center">About Us</h1>
    <mat-divider class="w-50 mx-auto mb-4"></mat-divider>

    <div class="row main-content-container justify-content-around no-gutters">
      <div class="col-12 col-md-6 main-content">
        <p class="mb-0 title">Title 1</p>
        <div class="vertical-bar"></div>
        <img class="img-fluid" src="https://via.placeholder.com/300x400" alt="temp">
        <p class="text-muted lead description mt-2">Short description about us</p>
      </div>
      <div class="col-12 col-md-6 main-content">
        <p class="mb-0 title">Title 2</p>
        <div class="vertical-bar"></div>
        <img class="img-fluid" src="https://via.placeholder.com/300x400" alt="temp">
        <p class="text-muted lead description mt-2">Short description about us.</p>
      </div>
      <div class="col-12 col-md-6 main-content">
        <p class="mb-0 title">Title 3</p>
        <div class="vertical-bar"></div>
        <img class="img-fluid" src="https://via.placeholder.com/300x400" alt="temp">
        <p class="text-muted lead description mt-2">Short description about us</p>
      </div>
      <div class="col-12 col-md-6 main-content">
        <p class="mb-0 title">Title 4</p>
        <div class="vertical-bar"></div>
        <img class="img-fluid" src="https://via.placeholder.com/300x400" alt="temp">
        <p class="text-muted lead description mt-2">Short description about us</p>
      </div>
    </div> <!-- end of row of about us contents-->

  </div>
</div>
<div class="container-fluid contact-us-container">
  <div class="row no-gutters justify-content-center">
    <div class="col-12 col-md-8">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 order-1 order-md-0 contact-info-container">
          <p class="h3 text-center heading">Contact us</p>
          <div class="row phone-row">
            <div class="col-1 icon-col">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="col-11 info-col">
              (123) 456-7890
            </div>
          </div>
          <div class="row email-row">
            <div class="col-1 icon-col">
              <i class="fa fa-at" aria-hidden="true"></i>
            </div>
            <div class="col-11 info-col">
              company@email.com
            </div>
          </div>
          <div class="row address-row">
            <div class="col-1 icon-col">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="col-11 info-col">
              <p class="mb-2">1234 Some Street</p>
              <p class="mb-1">Some City, State 12345</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1 google-map-container">
          <img class="img-fluid" src="https://via.placeholder.com/800x600?text=Google_Map" alt="google map">
        </div>
      </div>
    </div>
  </div>
</div>
