<div class="container-fluid">
  <div class="row justify-content-center no-gutters">
    <div class="main-container col-12 col-md-10 col-lg-8">

      <div class="filter-row">
        <div class="row justify-content-center justify-content-md-between align-items-center no-gutters">

          <div class="col-12 col-md-6 order-1 order-md-0 text-center text-md-left mt-2 mt-md-0">
            <button mat-button color="primary" class="btn-topic" [ngClass]="{'active': selectedTags?.length <= 0 && !activeQuery}" (click)="onClickAllTopics()">All topics</button>
            <button mat-button color="primary" class="btn-topic" (click)="openDialog()" [ngClass]="{'active': selectedTags?.length > 0 && !activeQuery}">By Topics</button>
          </div>
          <div class="col-12 col-md-6 order-0 order-md-1 text-center text-md-right">
            <form action="#" class="search-form-field" [formGroup]="searchForm" (submit)="onClickSearch()">
              <input type="text" formControlName="query">
              <button class="suffix btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>

        <div *ngIf="selectedTags?.length > 0" class="tag-row ml-3">
          <span *ngFor="let tag of selectedTags" class="tag">{{tag.name}}</span>
        </div>
      </div> <!-- end of filter row -->


      <div *ngFor="let post of posts"
            class="post-row row no-gutters justify-content-center">
        <div class="col-md-6 d-none d-md-block">
            <img-loader [src]="post.cover_url || '../../../assets/img/poster.jpg'" loader="assets/spinner.gif">
            </img-loader>
        </div>
        <div class="col-12 col-md-5">
          <div class="post-info">

            <div class="author-row">
              <img src="{{'https://s3-us-west-1.amazonaws.com/cinema-world.media/admins/'+ post.author[0]._id + '.jpg'}}" alt="" class="author-img">
              <div class="name-date">
                <p class="name">By <span>{{post.author[0].username}}</span></p>
                <p class="date">{{post.post_date | date:'yyyy-MM-dd'}}</p>
              </div>
            </div> <!-- end of author-row -->

            <div class="tag-row">
              <span class="tag" *ngFor="let topic of post.tags">{{topic.name}}</span>
            </div>

            <p class="h2 post-title">{{post.title}}</p>
            <p class="content-preview">
              {{ post.sections[0].content[0].length > 200 ? (post.sections[0].content[0] | slice:0:200) + '...' : post.sections[0].content[0] }}
            </p>

            <button class="btn continue-btn" [routerLink]="['/post', post._id]" (click)="saveSession()">
              <p>Continue Reading <i class="fa fa-long-arrow-right ml-2" aria-hidden="true"></i></p>
            </button>

          </div> <!-- end of post-info -->
        </div>
      </div> <!-- end of post-row -->

      <!-- paginator -->
      <div class="pagination-container my-3">
        <a routerLink="/posts" [queryParams]="generateQueryParams((nthPageGroup-1) * MAX_PAGINATION)" [ngClass]="{'disabled': nthPageGroup <= 1}" class="prev10">Prev 10</a>
        <div class="pages">
          <a routerLink="/posts" [queryParams]="generateQueryParams(currentPage-1)" [ngClass]="{'disabled': currentPage <= 1}" class="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a *ngFor="let p of currentPageGroup" routerLink="/posts" [queryParams]="generateQueryParams(p)" class="page-href" [ngClass]="{'active': p == currentPage}">
            {{p}}
          </a>
          <a routerLink="/posts" [queryParams]="generateQueryParams(currentPage+1)" [ngClass]="{'disabled': currentPage >= totalPage}" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
        <a routerLink="/posts" [queryParams]="generateQueryParams(nthPageGroup * MAX_PAGINATION + 1)" [ngClass]="{'disabled': nthPageGroup * MAX_PAGINATION >= totalPage}"  class="next10">Next 10</a>
      </div>

    </div> <!-- end of main-container-->
  </div>
</div>
