@import "~src/variables";

.tag-list {
  background-color: #D5EBF7;
  padding: .5rem .75rem;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.mat-dialog-actions {
  justify-content: center;
  margin-top: 3rem;
  button {
    margin: 0 3.2rem 0.5rem 3.2rem;
    font-size: 1.2rem;
    padding: 0.2rem 2.4rem;
  }
  .btn-browse {
    background-color: $primary-blue;
    color: white;
  }
}

.chip {
  background-color: $primary-blue;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 12px;
  margin: 1px 2px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tag-list.cdk-drop-list-dragging .chip:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
