<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">Cinema World</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="/about" >About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/films">Films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/posts">Posts</a>
      </li>
    </ul>
    <div class="sns-container">
      <a href="https://facebook.com" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="instagram-background" href="https://instagram.com" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>

    </div>
  </div>

</nav>
