@import '~src/variables';
@import '~node_modules/bootstrap/scss/functions';
@import '~node_modules/bootstrap/scss/_variables';
@import '~node_modules/bootstrap/scss/mixins/_breakpoints';

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
}

.navbar-brand {
  font-family: $syncopate;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-item {
  text-transform: uppercase;
  margin-right: 15px;
  font-family: $syncopate;
  font-size: 1.2rem;
  &.active {
    border-bottom: 1px solid rgba(0,0,0,0.9);
  }
}

.sns-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

i {
  font-size: 2rem;
  margin: 0 4px;
  &.fa-facebook-official {
    color: $facebook-logo;
  }
  &.fa-instagram {
    color: white;
    transform: scale(0.9);
    margin-top: 1px;
  }
  &.fa-twitter {
    color: $twitter-logo;
  }
}

.instagram-background {
  background: $instagram-logo;
  transform: scale(0.8);
  border-radius: 8px;
}

// mobile view toggler navbar
.navbar-toggler {
  border-color: transparent;
  &:focus {
    outline: none;
  }
}
.hamburger-bar {
  transition: all 0.5s ease-in-out;
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  opacity: 0.6;
  margin: 5px 0;
}

.navbar-toggler[aria-expanded="true"] .hamburger-bar {
  opacity: 1;
  &:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  &:nth-child(2) {
    transform: scaleX(0);
  }
  &:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@include media-breakpoint-down(md) {
  .navbar-collapse {
    position: absolute;
    top: 78px;
    left: 0;
    background-color: inherit;
    width: 100vw;
    z-index: 10;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.4);
  }
  .nav-item {
    text-align: center;
    margin: 0;
    &.active {
      border: none;
    }
  }
  .sns-container {
    margin:0 30px 0 20px;
    justify-content: center;
    border-top: 1px solid lightgray;
    padding-top: 10px;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding-left: 4px;
    padding-right: 4px;
  }
  .navbar-collapse {
    top: 59px;
  }
  .navbar-brand {
    font-size: 1.4rem;
    margin-right: 0.2rem;
  }
  .navbar-toggler {
    padding: 0.1rem 0.4rem;
  }
  .nav-item {
    font-size: 1rem;
  }
  i {
    font-size: 1.6rem;
  }
}
