<div class="banner-container">
  <div class="banner-text-container">
    <p class="h1 title">Banner Title Text</p>
    <p class="h3 subtitle">Banner Texts</p>
    <p class="text-muted lead text">Short descriptions and sub-texts</p>
    <button mat-flat-button color="primary" class="mx-auto d-block">Banner Button</button>
  </div>
</div>

<p class="h1 mt-4 mb-2 text-center">Latest Films</p>
<mat-divider class="w-75 mx-auto mb-4"></mat-divider>

<div class="grid-container">
  <div class="grid-sm"></div>
  <div class="grid-sm"></div>
  <div class="grid-lg"></div>
  <div class="grid-md"></div>
</div>


