<div class="banner-container">
  <div class="banner-filter"></div>
  <div class="banner-text-container">
    <p class="h1 title">Banner Title Text</p>
    <p class="h3 subtitle">Banner Texts</p>
    <p class="text-muted lead text">Short descriptions and sub-texts</p>
    <button mat-flat-button color="primary" class="mx-auto d-block">Banner Button</button>
  </div>
</div>

<p class="h1 mt-4 mb-2 text-center">Latest Films</p>
<mat-divider class="w-75 mx-auto mb-4"></mat-divider>

<ng-container *ngIf="latestFilms?.length > 0">

  <div class="grid-container">
    <div class="grid grid-sm order-1" [routerLink]="['film', latestFilms[0]._id]">
      <img class="movie-thumbnail img-fluid" [lazyLoad]="latestFilms[0].poster_url" defaultImage="assets/spinner.gif">
      <div class="movie-title-container">
        <p class="h4 title">{{latestFilms[0].title}}</p>
        <p class="lead text-muted director-year">{{latestFilms[0].director[0]}} | {{latestFilms[0].release_date | date:'yyyy'}}</p>
      </div>
    </div>
    <div class="grid grid-sm order-2" [routerLink]="['film', latestFilms[1]._id]">
      <img class="movie-thumbnail img-fluid" [lazyLoad]="latestFilms[1].poster_url" defaultImage="assets/spinner.gif">
      <div class="movie-title-container">
        <p class="h4 title">{{latestFilms[1].title}}</p>
        <p class="lead text-muted director-year">{{latestFilms[1].director[0]}} | {{latestFilms[1].release_date | date:'yyyy'}}</p>
      </div>
    </div>
    <div class="grid grid-md order-3 order-lg-4" [routerLink]="['film', latestFilms[2]._id]">
      <img class="movie-thumbnail img-fluid" [lazyLoad]="latestFilms[2].poster_url" defaultImage="assets/spinner.gif">
      <div class="movie-title-container">
        <p class="h4 title">{{latestFilms[2].title}}</p>
        <p class="lead text-muted director-year">{{latestFilms[2].director[0]}} | {{latestFilms[2].release_date | date:'yyyy'}}</p>
      </div>
    </div>
    <div class="grid grid-lg order-4 order-lg-3" [routerLink]="['film', latestFilms[3]._id]">
      <img class="movie-thumbnail img-fluid" [lazyLoad]="latestFilms[3].poster_url" [defaultImage]="'assets/spinner.gif'">
      <div class="movie-title-container">
        <p class="h4 title">{{latestFilms[3].title}}</p>
        <p class="lead text-muted director-year">{{latestFilms[3].director[0]}} | {{latestFilms[3].release_date | date:'yyyy'}}</p>
      </div>
    </div>
  </div>

</ng-container>




