@import '~src/variables';
@import '~node_modules/bootstrap/scss/functions';
@import '~node_modules/bootstrap/scss/_variables';
@import '~node_modules/bootstrap/scss/mixins/_breakpoints';
@import '~src/animations';

.banner-container {
  position: relative;
  background: no-repeat center/cover url("~src/assets/img/banner.jpg") rgba(0,0,0,0.25);
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 0.5s forwards;
}

.banner-filter {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-text-container {
  transform: translateX(20vw);
  color: white;
  padding: 5px;
  .title, .subtitle {
    text-transform: uppercase;
    text-shadow: 1px 1px 5px gray;
  }
  .text {
    color: lightgray !important;
  }
  button {
    font-size: 1.5rem;
    padding: 0.6rem 3rem;
  }
}

.latest-film {
  background-color: $primary-blue;
  color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 1.6rem 0;
  font-family: $syncopate;
}

@include media-breakpoint-down(md) {
  .banner-container {
    height: calc(100vh - 71px);
  }
}

@include media-breakpoint-down(sm) {
  .banner-container {
    height: calc(100vh - 66.19px);
  }
  .banner-text-container {
    transform: translate(0, 20vh);
  }
}
