@import "~src/variables";
@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/_variables";
@import "~node_modules/bootstrap/scss/mixins/_breakpoints";
@import "~src/animations";

.loaded {
  animation: slideDown 0.25s ease-out;
}

.navigation-container {
    .nav-btn {
        // background-color: rgba(0,0,0,0.25);
        margin-right: 10px;
        height: 28px;
        width: 28px;
        border-radius: 100%;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.15s ease-in-out;
        i {
            font-size: 1rem;
        }
        &.disabled {
          // background-color: rgba(0,0,0,0.08);
          color: rgba(0,0,0,0.25);
          pointer-events: none;
        }
        &:hover, &:focus {
          transform: scale(1.2);
        }
    }
    .prev>i {
        margin-right: 3px;
    }
    .next>i {
        margin-left: 3px;
    }
}
.label {
    font-weight: bold;
    font-size: 1rem;
}
.content {
  align-self: flex-end;
  font-family: $lato;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

iframe {
  height: 100%;
  width: 100%;
}

.gallery {
  border-top: 1.5px solid rgba(0,0,0,0.24);
  padding-top: 1.4rem;
}

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@include media-breakpoint-down(lg) {
    .trailer-container {
        height: 360px;
    }
}
@include media-breakpoint-down(md) {
    .trailer-container {
        height: 300px;
    }
}
