@import "~src/variables";
@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/_variables";
@import "~node_modules/bootstrap/scss/mixins/_breakpoints";

.temp {
  border: 1px solid blue;
}
.navigation-container {
    .nav-btn {
        background-color: rgba(0,0,0,0.25);
        margin-right: 10px;
        height: 28px;
        width: 28px;
        border-radius: 100%;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            font-size: 1rem;
        }
        &.disabled {
          background-color: rgba(0,0,0,0.08);
          color: rgba(0,0,0,0.25);
          pointer-events: none;
        }
    }
    .prev>i {
        margin-right: 3px;
    }
    .next>i {
        margin-left: 3px;
    }
}
.label {
    font-weight: bold;
    font-size: 1rem;
}

iframe {
  height: 100%;
  width: 100%;
}

// .gallery {
//     padding-top: 30px;
//     border-top: 2px solid rgba(0,0,0,0.12)
// }

// .thumbnail {
//     position: relative;
//     height: 500px;
//     margin-bottom: 8px;
//     img {
//         object-fit: cover;
//         height: 100%;
//         width: 100%;
//     }
// }
.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@include media-breakpoint-down(lg) {
    .trailer-container {
        height: 360px;
    }
}
@include media-breakpoint-down(md) {
    .trailer-container {
        height: 300px;
    }
}
