<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9">

            <button class="btn btn-rectangle mt-3" [routerLink]="['/posts']">
                <p><i class="fa fa-bars mr-3" aria-hidden="true"></i> Back To List</p>
            </button>

            <p class="display-4 mt-3">Blog Title: Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

            <div class="img-wrapper cover-wrapper">
                <img src="../../../assets/img/poster3.jpg" alt="cover image">
            </div>

            <div class="author-row">
                <img src="../../../assets/img/author.jpg" alt="" class="author-img">
                <div class="name-date">
                    <p class="name">By <span>Admin User</span></p>
                    <p class="date">2020-07-03</p>
                </div>
            </div> <!-- end of author-row -->

            <div class="content">
                <p> Nullam placerat nunc ac tempus rutrum. Curabitur id tincidunt ante, a vulputate massa. Curabitur
                    ornare eros nec enim venenatis, quis finibus nunc gravida. Sed elementum nec tellus et mattis.
                    Quisque rutrum varius laoreet. Maecenas nec posuere erat. Cras sagittis aliquam lacus. Proin
                    porttitor dolor accumsan leo consequat, eget cursus enim condimentum. Vestibulum pellentesque est
                    convallis risus volutpat, at ultricies tortor tristique. Donec a pellentesque tellus. Praesent
                    suscipit nisi tellus, eget sollicitudin ante dapibus eu. Curabitur quis diam diam. In felis arcu,
                    suscipit rutrum malesuada eget, efficitur ac leo. Aenean risus neque, accumsan et tristique quis,
                    lobortis id neque. Phasellus aliquet, mauris a aliquet sollicitudin, mi elit aliquet libero, quis
                    consequat tellus ligula nec sapien.</p>
            </div>
            <div class="img-wrapper">
                <img src="../../../assets/img/poster2.jpg" alt="supplementary image">
            </div>
            <div class="content">
                <p> Vivamus tempus diam magna, at imperdiet lorem finibus ut. Duis vestibulum, dolor ac aliquet
                    faucibus, ante elit suscipit lectus, sit amet vulputate nisl ex a libero. Curabitur eleifend, nulla
                    quis efficitur sodales, nisi elit lobortis elit, et facilisis est dui ac eros. Integer nec elementum
                    urna. Etiam mauris tortor, porttitor vitae varius vel, vulputate ut massa. Praesent pharetra dui sed
                    imperdiet luctus. Nullam risus magna, tempor et vehicula vitae, congue pellentesque lorem. Ut
                    hendrerit enim erat, in porta quam cursus id. Pellentesque turpis metus, aliquet ac ante nec,
                    fringilla aliquet arcu. Nullam lobortis magna et quam luctus rutrum.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-rectangle mb-4" [routerLink]="['/posts']">
                    <p><i class="fa fa-bars mr-3" aria-hidden="true"></i> Back To List</p>
                </button>
            </div>
        </div>
    </div>
</div>