/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/_variables";
@import "~node_modules/bootstrap/scss/mixins/_breakpoints";

// global styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $roboto, "Helvetica Neue", sans-serif;
}
// to keep footer at the bottom even if content is empty.
.full-height-wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer-height;
}
// reset bootstrap outlines and link underline
* {
  &:active,
  :focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
a:hover {
  text-decoration: none !important;
}
// lightgallery disable scroll
.lg-on {
  overflow: hidden;
}

// rectangle button, reverse color on hover
.btn.btn-rectangle {
  display: block;
  border: 2px solid $primary-blue;
  border-radius: 0;
  padding: .4rem 1.5rem;
  transition: all 0.2s ease-in-out;
  p {
    color: $primary-blue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0;
  }
  &:hover, &:focus {
    background-color: $primary-blue;
    p {
      color: white;
    }
  }
}

film-thumbnail, img-loader {
  height: 100%;
  width: 100%;
}
