// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Syncopate:wght@400;700&display=swap');

$syncopate: 'Syncopate', sans-serif;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// COLOR
$facebook-logo: #3F51B5;
$instagram-logo: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$twitter-logo: #03A9F4;

$primary-blue: #0078B4;

